@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100&family=Poppins:wght@100;200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100% !important;
  background-color: #110b0b;
}

.trow:nth-child(odd) {
  background-color: #171d2399
}

.trow:nth-child(even) {
  background-color: rgb(17, 11, 11, 1);
}

.remove-arrow::-webkit-inner-spin-button,
.remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.remove-arrow {
    -moz-default-appearance: textfield;
}

@layer base {
  :root {
    --border: 214.3 31.8% 91.4%;
  }

  .dark {
    --border: 217.2 32.6% 17.5%;

  }
}

